@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pageHeader{
    background-image: linear-gradient(to right,#dcdcdc,#bdc3a6);
    text-align: center;
    padding:20px;
    color: rgb(194, 90, 5);
}